		<script type="text/javascript">
			wbos.CssTools.MediaQueryFallBack.LoadCss('{+Link.base+}css/screen.css', '{+Link.base+}css/handheld.css', 660)
			codeview.classFilter.Init()
		</script>
        <script language="javascript" src="{+Link.base+}../js/lib/shCore.js"></script>
        <script language="javascript" src="{+Link.base+}../js/lib/shBrushJScript.js"></script>
        <script language="javascript">
        if( typeof dp !== "undefined" ) {
            dp.SyntaxHighlighter.ClipboardSwf = '/flash/clipboard.swf';
            dp.SyntaxHighlighter.HighlightAll('hlcode', false, false, false, 1);
        }
        </script>		
	</body>
</html>
